h1#pageTitle {
    font-size: 6vw;
    font-weight: 600;
}

img#mainPicture {
    width: 100%;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: relative;
}

@media only screen and (orientation: landscape) {
    h1#pageTitle {
        font-size: 3vh;
    }

    img#mainPicture {
        border-bottom-left-radius: 5vh;
        border-bottom-right-radius: 5vh;
    }
}
