body {
    font-family: Verdana;
}

h1 {
    font-size: 7vw;
    padding: 0.25vw;
    font-weight: 600;
    display: inline-block;
}

p {
    font-size: 4.5vw;
    line-height: 0;
}

a {
    font-size: 5.5vw;
    padding: 1.5vw 1.6vw;
    display: inline-block;
}

@media only screen and (orientation: landscape) {
    h1 {
        font-size: 7vh;
        padding: 0.25vh;
    }

    p {
        font-size: 5vh;
    }

    a {
        font-size: 6vh;
        padding: 1.5vh 1.6vh;
    }
}
