html 
    head 
        title= "Error occurred"
        script(type="text/javascript").
%darkScript

    body 
        h1= "An error occurred."
        p Error reason: #{message}
        a(href="/")= "Go Home"