body {
    background-color: rgb(210, 210, 250);
    color: rgb(5, 5, 15);
    font-family: Verdana;
}

#mainContentBacking {
    background-color: rgb(240, 240, 255);
}

#navbar {
    background-color: rgb(195, 195, 235);
}

a.navbarLinks {
    color: rgb(5, 5, 25);
    background-color: rgb(160, 160, 200);
}

a.navbarLinks:hover {
    background-color: rgb(140, 70, 30);
}

#footer {
    background-color: rgb(200, 200, 240);
}

a.footerLink {
    color: rgb(25, 25, 125);
}
